In [6]:
import sqlite3
import pandas as pd

In [7]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [8]:
conn = sqlite3.connect("./raw/data.db")
crs = conn.cursor()

In [9]:
file_path = "./raw/Data_DATN_Full.csv"
df = pd.read_csv(file_path)
df.drop_duplicates(subset=['Posts'], keep='first', inplace=True)
df.dropna(subset=['Posts'], inplace=True)
# drop if Posts have only white space and newline character
df = df[~df['Posts'].str.isspace()]

print(df.head())
# print df structure
print(df.info())

   STT  Emotion Title                                              Posts
0    1        2   NaN  buồn quá mọi người ơi mình mới phát_hiện chồng...
1    2        5   NaN      yêu một người keo_kiệt kiểu \n cre mai phuong
2    3        1   NaN  đợt sale tôi lên sóp pi đặt cục này về các ông...
3    4        2   NaN            anh xin_lỗi là anh sai \n topcmt \n ksc
4    5        5   NaN  vừa xong những người dân tại làng bún hà_nội đ...
<class 'pandas.core.frame.DataFrame'>
Int64Index: 7161 entries, 0 to 7241
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   STT      7161 non-null   int64
 1   Emotion  7161 non-null   int64
 2   Title    519 non-null    object
 3   Posts    7161 non-null   object
dtypes: int64(2), object(2)
memory usage: 279.7+ KB
None

In [10]:
df.to_sql("data", conn, if_exists="replace")
conn.commit()
crs.fetchall()

[]